<style>
* {
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  color: #820f17
}
</style>


<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Tasks</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= link_to 'Create a Task', new_category_path %></td>
        <td>
          <%= link_to 'Update an Account', edit_user_registration_path %>
          <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Task List</h1>
<% if @tasks&.any? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= task.due_date %></td>
          <td>
            <% if task.category.present? %>
              <%= link_to 'Show', category_task_path(task.category, task) %> 
              <%= link_to 'Edit', edit_category_task_path(task.category, task) %> 
              <%= button_to 'Delete', category_task_path(task.category, task), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              No category assigned
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No available tasks.</p>
<% end %>