<style>
* {
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  color: #820f17
}
table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  width: 20%;
}

th, td {
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
</style>

<h1>New Category</h1>
<%= form_with model: @category, local: true do |form| %>

<p>
  <%= form.label :name %> <br/>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.submit "Create Category" %>
</p>
<% end %>

<h2>Choose Category</h2>
<table>
  <tbody>
    <%= render "categories", categories: @categories %>
  </tbody>
</table>
 