<style>
* {
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  color: #820f17
}
</style>

<h1>New Category</h1>
<%= form_with model: @category, local: true do |form| %>

<p>
  <%= form.label :name %> <br/>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.submit "Create Category" %>
</p>
<% end %>

<h2>Existing Categories</h2>
<table>
  <tbody>
    <%= render "categories", categories: @categories %>
  </tbody>
</table>
 